/* html selector */
body {
    width: 100%;
}

header {
    background-color: rgb(237, 166, 131);
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    padding: 5px;
}

header img {
    width: 125px;
}

h2 {
    font-size: 15px;
    font-weight: bold;
}

h4 {
    text-align: center;
    font-size: 40px;

}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    margin-top: 67px;
    justify-items: center;
    list-style: none;
}

li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 5px;
    list-style-type: none;
    color: black;
 }


footer {
    background-color: rgb(237, 166, 131);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    list-style: none;
}
footer img {
    width: 30px;
    gap: 10px;
}

/* id selector */
#hero img {
    width: 100%;
    margin-top: -15px;
    box-shadow: 5px, 5px, 10px beige;
}

#hero {
    display: grid;
    grid-template-columns: 1fr;
}

#mainbody {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#sandiegoimg {
    display: grid;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(30, 29, 29, 0.26), 0 6px 20px 0 rgba(19, 35, 49, 0.25);
}

#sandiego {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 50px;
}

#sandiegotitle {
    display: grid;
    text-align: center;
    font-size: 40px;
    font-family: Kalam, sans-serif;
}

#sandiegopara {
    display: grid;
    text-align: center;
    font-size: 17px;
    padding: 15px;
}

#weatherdrink {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding: 50px;
}

#weatherhd {
    text-align: center;
    font-size: 40px;
    font-family: Kalam, sans-serif;
}

#weatherpara {
    text-align: center;
    width: 600px;
    font-size: 25px;
    padding: 15px;
}

#drinkhd {
    text-align: center;
    font-size: 40px;
    font-family: Kalam, sans-serif;
}

#drinkpara {
    text-align: center;
    font-size: 25px;
    padding: 15px;
}

#about-info {
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    background-color: rgb(169, 216, 239);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    justify-items: center;
    text-align: center;
    padding: 20px;
}

#about_us {
    display: grid;
    text-align: center;
    justify-items: center;
}

#ab-title {
   font-size: 40px; 
   padding: 0;
}

#ab-para {
font-size: 20px;
text-align: center;
padding: 15px;
margin-top: -10px;
}

#map {
    display: grid;
    justify-items: center;
    padding: 20px;
    margin-bottom: 100px;
}

#map-img {
    width: 337%;
    height: 170%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(30, 29, 29, 0.26), 0 6px 20px 0 rgba(19, 35, 49, 0.25);
}

#surfers img {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(30, 29, 29, 0.26), 0 6px 20px 0 rgba(19, 35, 49, 0.25);
}

#beach img {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(30, 29, 29, 0.26), 0 6px 20px 0 rgba(19, 35, 49, 0.25);
}

#ocean img {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(30, 29, 29, 0.26), 0 6px 20px 0 rgba(19, 35, 49, 0.25);
}

#pineapple img {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(30, 29, 29, 0.26), 0 6px 20px 0 rgba(19, 35, 49, 0.25);
}

#smoothieicon {
    width: 30%;
    text-align: center;
}

#fname label {
    display: flex;
    flex-direction: column;
}

#email label {
    display: flex;
    flex-direction: column;
}


/* class selector */

.sandiegotext {
    width: 70%;
    background-color: rgb(198, 224, 239);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weather {
    width: 70%;
    background-color: rgb(233, 239, 198);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.drink {
    display: grid;
    justify-items: center;
    width: 70%;
    background-color: rgb(250, 214, 245);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.firsttwoimages {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.secondtwoimages {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


#mix {
    position: absolute;
    background-color: rgb(141, 197, 141);
    color: rgb(0, 0, 0);
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #434648;
    z-index: inherit;
    border: 0;
}
/* position: absolute;
    bottom: 0;
    right: 25px;
    background-color: #356da1;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #4b6a8d;
    height: 30px;
    padding: 10px;
    text-align: center;
    text-align: center;
    color: #0a1256;
    font-family: 'Source Sans Pro', sans-serif; */