form {
    width: 30%;
    min-width: 280px;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(255, 228, 228);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text] {
    width: 100%;
    display: inline-block;
    border: 1px solid #302d2d;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: rgb(255, 228, 228);
  }
  
  input [type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(255, 228, 228);
  }

  input [type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(255, 228, 228);
  }
  
  input[type=submit]:hover {
    background-color: #4d6e8a;
  }

  @media screen and (max-width: 750px) {
    .content {
      padding: 100px 0 0;
      width: 100%;
      display: flex;
    }
    form {
      margin: 20px auto;
      justify-self: center;
    }
}