@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@600&display=swap');

body {
    height: 100%;
    padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

.primary-bg {
    background-color: #54A24B;
}

.secondary-bg {
    background-color: #8BC34A;
}

.accent-bg {
    background-color: #F5A623;
}