@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Merriweather+Sans:wght@700&display=swap');

html, body {
    height: 100%;
    margin: 0;
  }

header {
    display: grid;
    background-color: rgb(216, 237, 237);

}

a {
    text-decoration: none;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Merriweather Sans';
    font-size: 20px;
}

nav a {
    float: left;
    color: #708090;
    ;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }


ul li {
    list-style: none;
    margin-top: 5px;
}

p {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

footer{
    background-color: rgb(216, 237, 237);
    border-radius: 5px;
    box-shadow: 5px 5px 10px #4e6374;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    list-style-type: none;
}
/* class selector */
h1 {
    font-family: 'Merriweather Sans';
    font-size: 35px;
}

.subhead {
	color: #708090;
    font-family: 'Merriweather Sans';
    font-size: 28px;
  
}

.logo-link {
    display: grid;
}

.social-link {
    display: flex;
    justify-content: center;
    column-gap: 20px;;
    margin-bottom: 50px;
}

.social-link img {
    width: 30px;
    display: flex;
    flex-direction: column;
}
/* id selector */

#hero-img img {
    width: 100%;
}

#logo-img img {
    width: 120px;
    margin-left: -900px
}

html, body {
    height: 100%;
    margin: 0;
  }

#content{
    min-height: 100%;
    wi
}

nav{
    background-color:rgb(216, 237, 237);
    border-radius: 5px;
    box-shadow: 5px 5px 10px #4e6374;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    list-style-type: none;
}

button{
    background-color: transparent;
    border:none;
    color:#0a1256;
    float: right;
    font-size: 20px;
    margin: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float:right;
    /* position: absolute; */
}

nav ul li a{
    display:block;
}

nav ul {display: none;}
nav ul.open {display: block;}


a:hover{
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #6f7364;
}


nav h1{
    color:#0a1256;
    padding: 5px;
}


footer h1{
    font-size: small;
    color: black;
}


#hero{
    border: solid black 1px;
}

#events{
    border: solid black 1px;
}

#weather{
    border: solid black 1px;
}

#news{
    border: solid black 1px;
}

#join{
    display:none;
}

#spotlight1{
    border: solid black 1px;
}

#spotlight2{
    border: solid black 1px;
}

#spotlight3{
    display:none;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

